<p>ID: {{data[0]}}</p>
<p>Title: {{data[1]}}</p>

    <mat-form-field [formGroup]="form">
      <p>Sales</p>
      <input id="sss"
        type="number"
        matInput
        formControlName="sales"
        value="{{ sales }}"
      />
      <p>Description</p>
      <input id="eee"
      title="For some reason explanation part cannot be clicked but reaching there with Tab button works"
        matInput
        formControlName="explanation"
        value="{{ explanation }}"
      />
    </mat-form-field>


<div mat-dialog-actions>
    <button (click)="saveDialog()" id="SaveButton">Save</button>
</div>

