.table-responsive {
    width: 100%;
}

.mat-table{
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
}
.mat-cell{
    border: 1px solid currentColor;
    text-align: center;
}
.mat-header-cell{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid currentColor;
    padding: 10px;
}
.mat-row:hover{
    border-color: currentColor;
    background-color: gray;
}

#Saless:hover{
    background-color: red;
}

#ButtonColumn{
    padding: 10px;
}
#ButtonHeader{
    padding: 0%;
}
#IDHeader{
    padding: 0%;
}

